<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript">
      // https://blog.neondaylight.com/build-a-simple-web-vr-ui-with-a-frame-a17a2d5b484
      AFRAME.registerComponent('display-info-panel', {
        schema: { default: '' },
        init() {
          panelId = '#block-info-panel-' + this.data;
          textId = '#block-info-text-' + this.data;
          const panel = document.querySelector(panelId);
          const text = document.querySelector(textId);

          this.el.addEventListener('click', () => {
            panel.setAttribute('visible', true);
            text.setAttribute('visible', true);
          });

          this.el.addEventListener('mouseleave', () => {
            panel.setAttribute('visible', false);
            text.setAttribute('visible', false);
          })
        }
      });

      const wsUri = 'wss://ws.blockchain.info/inv';
      const ws = new WebSocket(wsUri);
      if (ws) {
        ws.addEventListener('open', () => {
          // ws.send('{"op":"ping"}');
          ws.send('{"op":"blocks_sub"}');
        });
        ws.addEventListener('message', (data) => {
          onMessage(data);
          // res.render("index", { blocks: hashNames });
        });
      }

      var position = 5;
      function onMessage(data) {
        console.log(data);
        const jsonObj = JSON.parse(data.data);
        const hash = jsonObj.x.hash + '\n';
        let dateTime = new Date(0);
        dateTime.setUTCSeconds(jsonObj.x.time);
        const date = dateTime.toLocaleDateString() + ' ' + dateTime.toLocaleTimeString() + '\n';
        position++;
        $('#nextBlock').append(`<a-box display-info-panel="${position}"
                    position="${-6 + position * 2} 1.25 -5"
                    rotation="0 0 0"
                    color="#4CC3D9"
                    width="1"
                    data-blockNo="${position}"
                    class="block"></a-box>

                    <a-entity id="block-info-panel-${position}"
                    geometry="primitive: plane; height: 1; width: 5"
                    material="shader: flat; color: pink"
                    position="${-6 + position * 2} 3.25 -4"
                    visible="false"></a-entity>

                    <a-text id="block-info-text-${position}"
                    value="Hash: ${hash} Time Created: ${date}"
                    position="${-8.5 + position * 2} 3.25 -4"
                    visible="false"></a-text>

                    <a-entity line="start: ${-6.5 + position * 2} 1.25 -5; end: ${-7.5 + position * 2} 1.25 -5; color: #ff0"></a-entity>`);
        // hashNames.push(data.hash);
      }
    </script>
  </head>

  <body>
    <h1>Block VR!</h1>
    <a-scene id="nextBlock">
        <!-- Cursor -->
        <a-entity position="0 3 1.5">
            <a-entity camera look-controls>
                <!-- Anything attached here will stay in the view like a HUD. -->
                <a-entity position="0 0 -5"
                        geometry="primitive: ring; radiusOuter: 0.30;
                        radiusInner: 0.20;"
                        material="color: grey; shader: flat"
                        cursor="fuse: true;">
                    <!-- The click events lag sometimes. -->
                    <a-animation begin="click"
                            easing="ease-in"
                            attribute="scale"
                            fill="forwards"
                            from="0.1 0.1 0.1"
                            to="1 1 1"
                            dur="150"></a-animation>
                    <a-animation begin="fusing"
                            easing="ease-in"
                            attribute="scale"
                            fill="forwards"
                            from="1 1 1"
                            to="0.1 0.1 0.1"
                            dur="1500"></a-animation>
                </a-entity>
            </a-entity>
        </a-entity>

        <% for (let i = blocks.length; i > 0; i--) { %>
          <% if (i == blocks.length) { %>
            <!-- Block. -->
            <a-box display-info-panel="<%= i %>"
                    position="<%= -6 + i * 2 %> 1.25 -5"
                    rotation="0 0 0"
                    color="#4CC3D9"
                    width="1"
                    data-blockNo="<%= i %>"
                    class="block"></a-box>

            <!-- Info panel that hovers above each block. -->
            <a-entity id="block-info-panel-<%= i %>"
                    geometry="primitive: plane; height: 1; width: 5"
                    material="shader: flat; color: pink"
                    position="<%= -6 + i * 2 %> 3.25 -4"
                    visible="false"></a-entity>

            <!-- Text that goes on each panel. -->
            <a-text id="block-info-text-<%= i %>"
                    value="<%= blocks[i - 1] %>"
                    position="<%= -8.5 + i * 2 %> 3.25 -4"
                    visible="false"></a-text>
          <% } else { %>
            <!-- Block. -->
            <a-box display-info-panel="<%= i %>"
                    position="<%= -6 + i * 2 %> 1.25 -5"
                    rotation="0 0 0"
                    color="#4CC3D9"
                    width="1"
                    data-blockNo="<%= i %>"
                    class="block"></a-box>

            <!-- Info panel that hovers above each block. -->
            <a-entity id="block-info-panel-<%= i %>"
                    geometry="primitive: plane; height: 1; width: 5"
                    material="shader: flat; color: pink"
                    position="<%= -6 + i * 2 %> 3.25 -4"
                    visible="false"></a-entity>

            <!-- Text that goes on each panel. -->
            <a-text id="block-info-text-<%= i %>"
                    value="<%= blocks[i - 1] %>"
                    position="<%= -8.5 + i * 2 %> 3.25 -4"
                    visible="false"></a-text>

            <!-- Line that runs through each block -->
            <a-entity line="start: <%= -5.5 + i * 2 %> 1.25 -5; end: <%= -4.5 + i * 2 %> 1.25 -5; color: #ff0"></a-entity>
          <% } %>
        <% } %>

    </a-scene>

  </body>
</html>
